
body {
    /* padding-top: 5rem; */


  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: left;
  }

  .jumbotron-edit {
       padding: 4rem 1rem;
      /* margin-bottom: 2rem; */
      background-color: #e9ecef;
      border-radius: .3rem;
      background-size: cover;


  }

  .wearehiring{
      text-align: center;
      font-size: 100px;
      font-weight: 600;
      line-height: 1;
      color: white;

      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  .evergreen-text{
      padding: 25px;
      text-align: center;
      color: #ffff;
      background-color: #3e8936;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 400;
      font-size: 20px;
      margin: auto;
      width: 60%;



  }

  .deskripsi{
       padding: 10px;
      text-align: center;



  }

  .deskripsi-p{
      text-align: left;
      font-weight: 400;
      font-size: 30px;
      white-space: pre-line; /*auto ENTER */

  }

  .kualifikasi-p{
      text-align: left;
      padding: 5px;

      font-weight: 700;
      font-size: 35px;


  }

  .deskripsi-text{
      text-align: left;
      padding: 5px;

      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-weight: 400;
      font-size: 26px;
      white-space: pre-line; /*CODING UNTUK BISA ENTER */


  }

  .footer{
      text-align: center;
      color: rgb(181, 180, 180);
      padding: 50px;
      background-color: #252525;
      white-space: pre-line; /*CODING UNTUK BISA ENTER */
      font-weight: 400;
      font-size: 25px;


  }

